<!DOCTYPE html>
<html lang="pl">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>ADISS</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="./public/css/style.css">
</head>
<body>
    <h1 class="title">The most popular authors of that genre</h1>
    <canvas id="myChart"></canvas>

    <script type="text/javascript" src="./public/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="./public/js/main.js"></script>
</body>
</html>