body {
    font-family: system-ui;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

.title {
    text-align: center;
    margin: 30px auto;
}

#myChart {
    width: 80% !important;
    margin: auto;
}

#myDoughnutChart {
    width: 40% !important;
    height: 40% !important;
    margin: auto;
}

.table {
    margin: 5% auto !important;
    width: 90% !important;
    text-align: center;
}

th {
    background: black;
    color: aliceblue;
}

th a {
    color: aliceblue;
}

td a {
    font-weight: bold;
    color: aliceblue;
}


td a:hover {
    font-weight: bold;
    color: rgb(197, 202, 207);
}

#container {
    display: flex;
    flex-flow: norap
}

#navbar {
    padding: 10px 0 10px 0;
    width: 15%;
    background-color: rgb(54, 162, 235);
    border-radius: 15px; 
    /* 0px 15px 15px 0px; */
}

#content {
    width: 100%;
}
.link-to-data {
    color: black
}

li {
   margin-left: 15px;
}